<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a routerLink="" class="d-flex align-items-center me-2 mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="https://d24uab5gycr2uz.cloudfront.net/uploads/article_category_image/school_technical_analysis_jASAMKteYp.webp" width="40px" alt="">
      </a>
      <div class="col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" [ngSwitch]="menuType">
        <ul  class="nav"  *ngSwitchCase="'default'">
          <li><a routerLink="" class="nav-link px-2 text-white">Home</a></li>
          <li><a routerLink="seller-auth" class="nav-link px-2 text-white">Seller</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Login</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Cart(0)</a></li>
        </ul>
        <ul class="nav" *ngSwitchCase="'seller'">
          <li><a routerLink="seller-add-product" class="nav-link px-2 text-white">Add Product</a></li>
          <li><a routerLink="seller-home" class="nav-link px-2 text-white">List Product</a></li>
          <li><a (click)="logOut()" class="nav-link px-2 text-white">Logout</a></li>
          <li><a class="nav-link px-2 text-white"><b style="color: #ffca00;">{{sellerName | titlecase}}</b></a></li>
        </ul>
      </div>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" *ngIf="menuType==='default'">

          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search" >

      </form>

      <div class="text-end" *ngIf="menuType==='default'">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
    </div>
  </div>
</header>
