<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a routerLink="" class="d-flex align-items-center me-2 mb-2 mb-lg-0 text-white text-decoration-none">
        <img
          src="https://d24uab5gycr2uz.cloudfront.net/uploads/article_category_image/school_technical_analysis_jASAMKteYp.webp"
          width="40px" alt="">
      </a>
      <div class="col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" [ngSwitch]="menuType">
        <ul class="nav" *ngSwitchCase="'default'">
          <li><a routerLink="" class="nav-link px-2 text-white">Home</a></li>
          <li><a routerLink="seller-auth" class="nav-link px-2 text-white">Seller</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Login</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Cart(0)</a></li>
        </ul>
        <ul class="nav" *ngSwitchCase="'seller'">
          <li><a routerLink="seller-add-product" class="nav-link px-2 text-white">Add Product</a></li>
          <li><a routerLink="seller-home" class="nav-link px-2 text-white">List Product</a></li>
          <li><a (click)="logOut()" class="nav-link px-2 text-white">Logout</a></li>
          <li><a class="nav-link px-2 text-white"><b style="color: #ffca00;">{{sellerName | titlecase}}</b></a></li>
        </ul>
      </div>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" *ngIf="menuType==='default'">

        <input #searchbar class="form-control form-control-dark search_bar" placeholder="Search..." aria-label="Search"
          (keyup)="searchProduct($event)" (blur)="hideSearcResult()" />
        <button class="search_btn btn btn-warning" (click)="submitSearch(searchbar.value)">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" width="612.01px" height="612.01px" viewBox="0 0 612.01 612.01"
            style="enable-background:new 0 0 612.01 612.01;" xml:space="preserve">
            <g>
              <g id="_x34__4_">
                <g>
                  <path d="M606.209,578.714L448.198,423.228C489.576,378.272,515,318.817,515,253.393C514.98,113.439,399.704,0,257.493,0
				C115.282,0,0.006,113.439,0.006,253.393s115.276,253.393,257.487,253.393c61.445,0,117.801-21.253,162.068-56.586
				l158.624,156.099c7.729,7.614,20.277,7.614,28.006,0C613.938,598.686,613.938,586.328,606.209,578.714z M257.493,467.8
				c-120.326,0-217.869-95.993-217.869-214.407S137.167,38.986,257.493,38.986c120.327,0,217.869,95.993,217.869,214.407
				S377.82,467.8,257.493,467.8z" />
                </g>
              </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
          </svg>
        </button>
        <ul class="result_box" *ngIf="searchResult">
          <li *ngFor="let item of searchResult">
            <a href="">
              {{item.product}}
            </a>
          </li>
        </ul>
      </form>

      <div class="text-end" *ngIf="menuType==='default'">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
    </div>
  </div>
</header>
