.result_box{
  position: absolute;
    list-style: none;
    padding-left: 0px;
    background: #fff;
    z-index: 9;
    width: 231px;
    border: 1px solid #eee;
    border-radius: 5px;
    top: 61px;
    box-shadow: 1px 1px 11px rgb(0 0 0 / 23%);
}
.result_box li a{
  display: block;
  font-size: 14px;
  color: #000 !important;
  padding: 10px 10px;
  border-bottom: 1px solid #eaeaea;
  text-decoration: none;
}
.result_box li:last-child{
  border-bottom: none;
}
.search_bar{
  display: inline-block;
  float: left;
  width: 250px;
}
.search_btn{
  padding: 0.45rem .75rem;
    border: none;
    border-radius: 5px;
    margin-left: 2px;
}
.search_btn svg{
  display: inline-block;
  width: 20px;
  height: auto;
}
.user_name{
  color: #fff;
}
