.produact_detail_section{
  padding-top: 90px;
  padding-bottom: 90px;
}
.item_name{
  font-size: 40px;
  color: #000;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 50px;
}
.item_price{
  font-size: 25px;
  color: #000;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 40px;
}
.item_details{
  font-size: 16px;
}
.item_color{
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  border: 1px solid #000;
}
.item_buy_btn{
  border: 1px solid #000;
    background: transparent;
    font-size: 18px;
    padding: 12px 17px;
    border-radius: 5px;
}
.item_unit{
  margin-top: 20px;
}
.item_unit button{
  width: 34px;
    height: 32px;
    border: none;
    background: #a4a4a4;
}
.item_unit input{
  width: 50px;
  height: 32px;
  text-align: center;
  border-top: 1px solid #a4a4a4;
  border-bottom: 1px solid #a4a4a4;
  border-left: none;
  border-right: none;
}
