.product_list_table{
  text-align: center;
}
.product_list_table td img{
  width: 100px;
}
.product_list_table td{
  vertical-align: middle;
  text-align: center;
  text-transform: capitalize;
}
.delete_msg{
  color: red;
}
.delete_btn{
  background: none;
  padding: 12px;
  border: none;
  color: red;
}

.edit_btn{
  background: none;
  padding: 12px;
  border: none;
  color: rgb(0, 175, 38);
}
