<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="signup_form" *ngIf="!showLogin">
        <h1 class="text-center form_header mt-4">Seller Register Form</h1>
        <form class="custom_login_form" #sellerSignup="ngForm" (ngSubmit)="signUp(sellerSignup.value)">
          <input class="form_input" type="text" ngModel name="name" placeholder="Enter Name" />
          <input class="form_input" type="email" ngModel name="email" placeholder="Enter Mail" />
          <input class="form_input" type="text" ngModel name="password" placeholder="Password" />
          <p class="text-center mt-5">
            <button class="form_submit_btn">Register</button>
          </p>
          <p>
            <a class="auth_toggle_link" (click)="openLogin()">Already have an account? <b>Sign in here</b></a>
          </p>
        </form>
      </div>
      <div class="login_form" *ngIf="showLogin">
        <h1 class="text-center form_header mt-4">Seller Login Form</h1>
        <p class="error_msg">{{showError}}</p>
        <form class="custom_login_form" #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)">
          <input class="form_input" type="text" ngModel name="name" placeholder="Enter Mail" />
          <input class="form_input" type="text" ngModel name="password" placeholder="Password" />
          <p class="text-center mt-5">
            <button class="form_submit_btn">Login</button>
          </p>
          <p>
            <a class="auth_toggle_link" (click)="openSigin()">Don't have an account? <b>Create new account</b></a>
          </p>

        </form>
      </div>
    </div>
  </div>
</div>
