.auth_toggle_link{
  text-align: center;
  cursor: pointer;
  display: block;
  margin-top: 30px;
  text-decoration: none;
  color: #0732ee;
}
.invalid_input{
  font-size: 12px;
    color: red;
    margin: 0px;
    margin-top: -11px;
}
.form_submit_btn:disabled{
  cursor:not-allowed;
}
.login_error_msg{
  color: red;
  text-align: center;
}
