/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  --headerColor : #000;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.form_header{
  text-align: center !important;
  color: var(--headerColor) !important;
  font-weight: 600 !important;
  font-size: 30px !important;
  margin-bottom: 45px !important;
  margin-top: 60px !important;

}
.custom_login_form{
  width: 350px;
  margin: auto;
}
.custom_login_form .form_input{
  display: block;
  width: 100%;
  margin: 18px 0px;
  height: 40px;
  padding: 10px;
  font-size: 14px;
  color: var(--bs-black);
  border: none;
  border-bottom: 1px solid var(--bs-black);
}
.form_submit_btn{
  background: var(--bs-blue);
  border: none;
  font-size: 16px;
  color: var(--bs-white);
  padding: 10px 34px;
  border-radius: 8px;
}
.login_form .error_msg{
  text-align: center;
  color: red;
}
