.top_banner_section{
  border-bottom: 1px solid;
  padding-bottom: 40px;
  padding-top: 50px;
}
.product_header_img{
  width: 100%;
  height: 400px;
  object-fit: contain;
}
::ng-deep .carousel-control-prev-icon,
::ng-deep .carousel-control-next-icon {
  background-color: black !important;
  border: 5px;
}

.carousel-caption{
  background: rgb(0 0 0 / 71%);
  max-width: 456px;
  margin: auto;
}
.tranding_product_section{
  padding-top: 50px;
  padding-bottom: 50px;
}
.product_item_wrapper{
  border: 1px solid;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.product_item_wrapper .product_img_box{
  height: 240px;
  position: relative;
}
.product_item_wrapper .product_img{
    width: 70%;
    max-width: 164px;
    margin: auto;
    object-fit: contain;
    vertical-align: middle;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.product_name_price{
    padding: 15px;
    border-bottom: 1px solid #000;
    padding-top: 25px;

}
.product_name_price .product_name{
  font-size: 18px;
  font-weight: 600;
}
.product_name_price .product_price{
  font-size: 15px;
  font-weight: 500;
  color: #000;
}
.product_name_price .product_price .discount_price{
  font-size: 12px;
  padding-left: 5px;
  font-weight: 400;
  color: #666666;
  text-decoration: line-through;
}
.product_details_sec{
  padding-top: 20px;
}
.product_details_sec a{
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}
