<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="">
        <h1 class="text-center form_header mt-4">Edit Product</h1>
        <p class="product_add_msg">
          {{productEditMsg}}
        </p>
        <form class="custom_login_form" #editProducts="ngForm" (ngSubmit)="editProduct(editProducts.value)" >
          <input class="form_input" type="text" ngModel="{{producatData?.product}}" name="product" placeholder="Product Name" />
          <input class="form_input" type="text" ngModel="{{producatData?.price}}" name="price" placeholder="Product Price" />
          <input class="form_input" type="text" ngModel="{{producatData?.color}}" name="color" placeholder="Product Color" />
          <input class="form_input" type="text" ngModel="{{producatData?.category}}" name="category" placeholder="Product Category" />
          <textarea class="form_input" type="text" ngModel="{{producatData?.description}}" name="description" placeholder="Product Description" ></textarea>
          <input class="form_input" type="text" ngModel="{{producatData?.image}}" name="image" placeholder="Product Image URL" />
          <p class="text-center mt-5">
            <button class="form_submit_btn">Edit Product</button>
          </p>

        </form>
      </div>

    </div>
  </div>
</div>
